body{
    font-family: verdana;
    
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}
.nameprompt{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:black;
    z-index: 2;
}
.middle{
    width: 200px;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    margin: auto;
    transform: translate(-50%,-50%);
}
#mario-chat{
    max-width:100%;
    margin: 10px auto;
    height: 100%;
    border: 1px solid #ddd;
    box-shadow: 5px 7px 20px 0px grey;
    border-radius: 2px;
}

#chat-window{
    height: 400px;
    overflow: scroll;
    background: #f9f9f9;
    overflow-x: hidden;
}


#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: verdana;
    font-size: 13px;

}
input:focus{
    outline: none;
}
button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}
#rightpart{
    width: 200px;
    margin: 10px 0;
    float: right;
    box-shadow: 5px 7px 20px 0px grey;
    font-size: 14px;
    text-align: center;
}
#rightpart h6{
    font-size: 14px;
    margin: 0;
}
#rightpart input[type="text"]{
    padding: 6px 0;
    text-align: center;
}
button#enterroom{
    padding: 6px 0;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}
input[name="handle"] {
    width: 100%;
    padding: 5px 20px;
    display: none;
}
input[id="username"]{
    padding: 7px 0;
    text-align: center;
}
#proceed{
    font-size: 14px;
    border: 0;
    padding: 7px 0;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #rightpart {
        box-shadow: 5px 7px 20px 0px grey;
        float: none;
        width: 200px;
        margin: 10px auto;
        font-size: 15px!important;
    }
    button#enterroom {
        padding: 6px 0;
        font-size: 15px;
    }
    #rightpart input[type="text"] {
        padding: 6px 0;
        text-align: center;
        height: 30px;
    }
    h2{
        margin: 0;
        font-size: 13px;
    }
    #roomid{
            margin-top: 0;
            margin-bottom: 1rem;
            font-size: 13px;
            margin: 0 0 5px 0;
    }
    #chat-window {
        height: 410px;
        /* overflow: scroll; */
        background: #f9f9f9;
    }
    #output{
        overflow: scroll;
        
    }
    input[name="handle"]{
        width: 100%;
        padding: 5px 20px;
    }
    input[name="message"]{
        float: left;
        padding: 10px 20px;
        width: 80%;
    }
    #send{
        float: left;
        width: 20%;      
        float: left;
        width: 20%;
        font-size: 14px;
        padding: 10px 12px;

    }
    #output p {
        padding: 10px 0px;
        margin: 0 5px;
        font-size: 14px;
        border-bottom: 1px solid #e9e9e9;
        color: #555;
    }
    #feedback{
        position: sticky;
        top: 0;
        background-color: aliceblue;
    }
    #feedback p {
        position: sticky;
        color: #aaa;
        padding: 10px 0px;
        margin: 0 20px;
        font-size: 12px;
    }
}

